main.aux
main.bbl
main.bcf
main.blg
main.glo
main.lof
main.log
main.lot
main.out
main.run.xml
main.acn
main.synctex.gz
main.toc
main.xdy
clean.sh
main.pdf
main.acr
main.alg
main.glg
main.gls
apero/main.nav
soutenance/main.aux
soutenance/main.bbl
soutenance/main.bcf
soutenance/main.blg
soutenance/main.glo
soutenance/main.lof
soutenance/main.log
soutenance/main.lot
soutenance/main.out
soutenance/main.run.xml
soutenance/main.acn
soutenance/main.synctex.gz
soutenance/main.toc
soutenance/main.xdy
soutenance/clean.sh
soutenance/main.pdf
soutenance/main.acr
soutenance/main.alg
soutenance/main.glg
soutenance/main.gls
soutenance/main.nav
soutenance/main.snm
